# Секретні змінні оточення
.env
.env.*
.env.local

# Бекапи та архіви
*.zip
*_BACKUP.zip
backup_dump.json

# Залежності та системні файли
node_modules/
npm-debug.log*
.DS_Store

# База даних (SQLite залишки)
prisma/*.db
prisma/*.db-journal